<p-toolbar styleClass="mb-6">
    <ng-template #start>
    </ng-template>

    <ng-template #end>
       <p-button label="Nuevo Cliente" icon="pi pi-plus" severity="success" class="mr-2" (onClick)="openNew()" />
    </ng-template>
</p-toolbar>

<p-table #dt [value]="parqueadero" [rows]="10" [paginator]="true"
    [globalFilterFields]="['name']"
    [tableStyle]="{ 'min-width': '75rem' }" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} parqueadero" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Resgistro de Entradas de Vehiculos </h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <ng-container *ngFor="let col of cols">
                <th [ngClass]="col.nameClass" [pSortableColumn]="col.sortable ? col.field : undefined"
                    [style.minWidth]="col.width">
                    {{ col.header }}
                    <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
                </th>
            </ng-container>
            <th style="min-width: 8rem; text-align: center;">Acciones</th>
        </tr>
    </ng-template>
    <ng-template #body let-item>
        <tr>
            <td *ngFor="let col of cols" [ngClass]="col.field === 'estado' ? 'text-center' : ''">
                <ng-container *ngIf="col.field === 'estado'; else defaultCell">
                    <p-tag [severity]="item[col.field] === 'Pendiente' ? 'danger' : (item[col.field] === 'Pagado' ? 'success' : 'secondary')" [value]="item[col.field]" />
                    <!-- <p-tag [value]="item[col.field]" [severity]="getSeverity(item[col.field])"></p-tag> -->
                </ng-container>
                <ng-template #defaultCell>
                    {{ item[col.field] }}
                </ng-template>
            </td>
            <td style="text-align: center;">
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editProduct(item)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteProduct(item)" />
            </td>
        </tr>
    </ng-template>
</p-table>


<p-confirmdialog [style]="{ width: '450px' }" />

<app-form #formComponent (clienteSaved)="onClienteSaved()"></app-form>

<p-toast></p-toast>
